.card {
  padding: 24px;
  background: var(--white);
  border-radius: 24px;
  width: calc(100% / 3);
  position: relative;
  z-index: 1;
  transform: translateY(50%);
  transition: transform 0.8s, border-color 0.3s;
  border: 2px solid transparent;
}

[data-theme="dark"] .card {
  background-color: var(--black);
}

.card:hover {
  border: 2px solid var(--yellow);
}

[data-theme="dark"] .card:hover {
  border: 2px solid var(--green);
}

.card_active {
  transform: translateY(0);
}

.link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 2px solid #ddcdee;
  flex-grow: 1;
  transition: all 0.3s;
}

[data-theme="dark"] .header {
  border-color: rgba(255, 255, 255, 0.1);
}

.title {
  font-size: 32px;
  font-weight: 500;
  max-width: 270px;
  transition: all 0.3s;
}

[data-theme="dark"] .title {
  color: #fff;
}

.info {
  margin-top: 16px;
}

.textContent {
  display: flex;
  flex-direction: column;
}

[data-theme="dark"] .date,
[data-theme="dark"] .descr {
  color: var(--purple-light-4);
}

[data-theme="dark"] .title + svg path {
  stroke: var(--green);
}

.calendar {
  display: flex;
  align-items: center;
  gap: 8px;
}

[data-theme="dark"] .calendar svg path {
  stroke: var(--purple-light-3);
}

.date {
  font-size: 24px;
  font-weight: 500;
  color: var(--black-light-1);
}

.descr {
  color: var(--black-light-1);
  font-size: 18px;
  font-weight: 400;
  margin-top: 31px;
}

.image {
  margin-top: 16px;
  width: 100%;
  height: auto;
  max-height: 120px;
  min-height: 120px;
  border-radius: 16px;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .title {
    font-size: 24px;
    max-width: 190px;
  }

  .date {
    font-size: 18px;
  }

  .descr {
    font-size: 16px;
  }
}

@media (max-width: 930px) {
  .card {
    width: 100%;
  }

  .info {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .image {
    max-width: 272px;
    margin: 0;
  }
}

@media (max-width: 560px) {
  .card {
    padding: 16px;
  }

  .info {
    flex-direction: column;
    gap: 23px;
  }

  .image {
    max-width: unset;
  }
}
