.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navLink {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

[data-theme="dark"] .navLink {
  color: rgba(252, 250, 255, 1);
}

.navLink:hover {
  color: var(--purple-main);
}

[data-theme="dark"] .navLink:hover {
  color: #74f721;
}

@media (max-width: 1140px) {
  .navigation {
    display: none;
  }
}
