.instructionListWrapper {
  max-width: 819px;
  width: 100%;
  transform: translateY(50%);
  transition: transform 0.8s;
}

.instructionListWrapper_active {
  transform: translate(0);
}

.instructionList {
  padding: 32px 32px 80px 32px;
  list-style: none;
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 32px 32px 0px 0px;
  gap: 24px;
}

[data-theme="dark"] .instructionList {
  background: #1d1d1b;
}

.listItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.textContent {
  display: flex;
  align-items: center;
  gap: 24px;
}

.divider {
  width: 100%;
  height: 2px;
  background: var(--purple-light-4);
  transition: all 0.3s;
}

[data-theme="dark"] .divider {
  background: rgba(255, 255, 255, 0.1);
}

.number {
  font-size: 64px;
  text-transform: uppercase;
  color: var(--black-light-1);
  font-size: 64px;
  font-weight: 500;
  width: 100px;
  transition: all 0.3s;
}

[data-theme="dark"] .number {
  color: rgba(252, 250, 255, 0.5);
}

.text {
  color: var(--black, #1d1d1b);
  font-weight: 500;
  font-size: 18px;
  transition: all 0.3s;
}

[data-theme="dark"] .text {
  color: #fcfaff;
}

.border {
  border-bottom: 2px solid var(--purple-light-4);
  transition: all .3s;
}

@media (max-width: 880px) {
  .instructionListWrapper {
    max-width: unset;
  }

  .instructionList {
    padding: 32px 24px 40px 24px;
  }

  .textContent {
    gap: 24px;
  }

  .number {
    font-size: 48px;
    width: 60px;
  }

  .text {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .textContent {
    gap: 16px;
  }

  .number {
    font-size: 32px;
    width: 40px;
  }

  .text {
    font-size: 16px;
  }
}
