.articlePage {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  padding-top: 160px;
  background: var(--white);
  flex-grow: 1;
  overflow: hidden;
}

[data-theme="dark"] .articlePage {
  background: linear-gradient(180deg, #7835ba 4.5%, #1d1d1b 100%);
}

.content {
  max-width: 1240px;
  width: 100%;
}

.gearIcon {
  position: absolute;
  left: 0;
  top: 218px;
}

[data-theme="dark"] .gearIcon path {
  fill: #74f721;
}

.triangleIcon {
  position: absolute;
  right: 22px;
  top: 670px;
}

[data-theme="dark"] .triangleIcon path {
  fill: #74f721;
}

.header {
  color: var(--purple-main);
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600px;
  text-transform: uppercase;
  transition: color 0.3s;
}

[data-theme="dark"] .header {
  color: var(--purple-light-4, #ddcdee);
}

.header svg path {
  transition: stroke 0.3s;
}

[data-theme="dark"] .header svg path {
  stroke: var(--purple-light-4, #ddcdee);
}

@media (max-width: 1024px) {
  .articlePage {
    padding-top: 169px;
  }
}

@media (max-width: 640px) {
  .articlePage {
    padding-top: 137px;
  }
}
