.categoryBage {
  border-radius: 12px;
  background: var(--purple-light-3);
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  transition: all 0.3s;
}

[data-theme="dark"] .categoryBage {
  color: var(--purple-main, #5603a9);
  background: var(--purple-light-4, #ddcdee);
}
