.content {
  max-width: 1240px;
  width: 100%;
  height: 225px;
  position: relative;
}

.advList {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  position: absolute;
  width: 100%;
  top: -125px;
  transform: translateY(1000px);
  transition: transform 0.5s;
}

.animAdvList {
  animation: jumpAnimation 1s ease-in-out forwards;
}

@keyframes jumpAnimation {
  0% {
    transform: translateY(1000px);
  }
  40% {
    transform: translateY(-60px);
  }

  65% {
    transform: translateY(40px);
  }

  85% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 930px) {
  .advList {
    flex-direction: column;
    transform: translateY(0);
  }

  .animWrap {
    position: relative;
    transition: all 0.7s ease-in-out;
  }

  .animWrap:nth-child(1) {
    transform: translateY(526px);
  }
  .animWrap:nth-child(2) {
    transform: translateY(357px);
  }
  .animWrap:nth-child(3) {
    transform: translateY(189px);
  }

  .animWrap.showAnim {
    transform: translateY(0);
  }

  .animAdvList {
    animation: unset;
  }

  .content {
    min-height: 435px;
  }
}

@media (max-width: 550px) {
  .content {
    height: 625px;
  }
}
