.processing {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
}

[data-theme="dark"] .darkThemeBgWrapper {
  background-image: url(/processing/darkProcessingMainBg.png);
  background-size: cover;
}
