.sliderContainer {
  height: 800vh;
  position: relative;
  width: 100%;
}

.slider {
  background: url("/processing/building.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.content {
  width: 100%;
  align-items: center;
  position: relative;
  display: flex;
}

.sliderWrap {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
